<div id="landing">
  <div class="landing-title">
    <h1>pwned
      <span class="highlight-title">4k4m1m3</span>
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "Comunidad Hacking Ético", "Eterno noob", "Hackers", "Padawan", "Ciberseguridad", "Pentesting"]'
      >
      </span>
    </h1>
    <div class="landing-icons">
      {% if site.pagina_web_url != null %}
        <a class="social-link web" aria-label="Web" target="_blank" rel="noreferrer"
          href="{{site.pagina_web_url}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#web" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Web</span>
        </a>
      {% endif %}

    {% if site.github_username != null %}
        <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
          href="https://github.com/{{site.github_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">GitHub</span>
        </a>
      {% endif %}

      {% if site.discord_url != null %}
        <a class="social-link discord" aria-label="Discord" target="_blank"
          rel="noreferrer" href="{{site.discord_url}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#discord" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Discord</span>
        </a>
      {% endif %}

      {% if site.telegram_url != null %}
        <a class="social-link telegram" aria-label="Telegram" target="_blank"
          rel="noreferrer" href="{{site.telegram_url}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#telegram" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Telegram</span>
        </a>
      {% endif %}

      {% if site.twitter_username != null %}
        <a class="social-link twitter" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://twitter.com/{{site.twitter_username}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Twitter</span>
        </a>
      {% endif %}

      {% if site.kick_url != null %}
        <a class="social-link kick" aria-label="Kick" target="_blank"
          rel="noreferrer" href="{{site.kick_url}}"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#kick" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Kick</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
